html {
  position: relative;
  min-height: 100%;
}

body {
 
  font-family: "croissant-one", "Libre Baskerville", "Montserrat", serif,
    sans-serif;
    background: url(images/pexels-ingrid-beck-13827647.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    box-sizing: inherit;
}
