.container {
  height: 100%;
  width: 100%;
  
  .about {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    @include flexCenter(column);
    gap: 1rem;
    padding: 5%;
    background-color: rgba($secondarycolor, 0.9);
    border-radius: 1rem;
    color: $textcolor;
    .aboutTitle {
      font-size: 1.5rem;
      color: $linkcolor;
    }
    p {
      font-family: "Libre Baskerville", "Montserrat", serif, sans-serif;
      text-align: center;
    }
   
  }
}
