* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./styles/variables";

@import "./styles/fonts";

@import "./styles/body";

@import "./styles/header";



#content {
  display: flex;
  flex-direction: column;
}
